---
import { Image } from "astro:assets";
import scoreImage from "./score-landscape.png";

import styles from "./score-header.module.scss";
---

<div class="score"></div>
<!-- <Image class={styles.scoreHeader} src={scoreImage} alt="" /> -->

<style lang="scss">
    @use "@/styles/abstracts" as *;
    .score {
        height: $space-md;
        width: 100%;
        background-image: url("./score-landscape.png");
        background-position: center top;
        background-size: cover;
        filter: brightness(0.76) sepia(40%) hue-rotate(0deg);
    }
</style>
