---
import { Image } from "astro:assets";
import scoreImage from "./score-landscape.png";

import styles from "./score-header.module.scss";
---

<div class="score"></div>
<!-- <Image class={styles.scoreHeader} src={scoreImage} alt="" /> -->

<style lang="scss">
    @use "@/styles/abstracts" as *;
    .score {
        $offsetHeight: $space-lg;
        // margin-block-start: -$offsetHeight;
        z-index: -1;
        opacity: 0.8;
        height: $offsetHeight;
        width: 100%;
        background-image: url("./score-landscape.jpg");
        background-position: center 25%;
        background-size: cover;
        filter: brightness(0.76) sepia(40%) hue-rotate(0deg);
    }
</style>
