---
import SiteHeader from "@/components/SiteHeader.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import ViewportDecorator from "@/components/ViewportDecorator.astro";

import BaseLayout from "./BaseLayout.astro";

let type = "musician";
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <ViewportDecorator style="ellipse" />
  <SiteHeader type={type} />

  <main class="layout-grid">
    <slot />
  </main>
  <SiteFooter type={type} />
</BaseLayout>

<style lang="scss">
  main {
    position: relative;
  }
</style>
