---
import SiteHeader from "./SiteHeader.astro";
import SiteFooter from "./SiteFooter.astro";

import BaseLayout from "./BaseLayout.astro";

let type = "musician";
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <SiteHeader type={type} />

  <main class="layout-grid">
    <slot />
  </main>
  <SiteFooter type={type} />
</BaseLayout>

<style lang="scss"></style>
