---
// import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
// import {
//   faGithubSquare,
//   faLinkedinIn,
// } from "@fortawesome/free-brands-svg-icons";

import Copyright from "@/components/Copyright";
import Navbar from "./Navbar.astro";
// import ExternalLink from "@/components/ExternalLink";

import styles from "./site-footer.module.scss";

const { type } = Astro.props;
---

<footer class={styles.footer}>
  <a href="/design">Design</a>
  <a href="/show-notes">Show Notes</a>
  <Copyright
    originYear="2018"
    holder="Elliot Reed"
    link={{
      to: "/",
    }}
  />
</footer>
