---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Show Notes" description="Show notes">
    <h1>Show Notes</h1>
    <a href="/show-notes/abbeyroad">Abbey Road / Beatles After The Beatles</a>
</MainLayout>
