@use "../../styles/abstracts" as *;

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: get-color("mainBrand");
  background-color: $body-background-color;
  @include padding-box();
  @include shadow(1);
  z-index: 10;
}

.nav-brand {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: $space-sm;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  color: inherit;
  font-size: 1.382rem;
  font-weight: bold;
  text-transform: uppercase;
}

// #region aspect //
.aspect {
  position: relative;
  perspective: 400px;
  background-color: get-color("lightShades", 300);
  border-radius: $border-radius;

  .aspect-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 100%;
    text-align: center;
    backface-visibility: hidden;
    background: $body-background-color;
    border-radius: $border-radius;
    @include shadow(2);
    transform: rotateX(93deg) translateX(-50%);
    transform-origin: top;
    transform-style: preserve-3d;
  }

  .qualifier-text {
    color: $body-text;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
  }

  a {
    display: inline-block;
    @include padding-box(sm);
  }
}

// #endregion