@import "../../../styles/base.scss";

.about-me {
  border: var(--border);
  border-radius: var(--borderRadius);
  @include gradient($lightShades);
  padding: var(--padding);
  color: $darkShades;
}

.about-me h3 {
  margin: var(--margin) 0;
  color: $mainBrand;
  font-weight: bold;
}