@import "../../styles/base.scss";

.container {
  display: block;
  margin: var(--margin);
}

.card {
  transition: 0.3s;
  margin: var(--margin) 0;
  width: 100%;
  @include box-shadow;
  border-radius: var(--borderRadius);
  @include gradient($lightShades);
  padding: var(--padding);
  color: $darkShades;
}

.card__display {
  display: block;

  & img {
    display: block;
    width: 100%;
    @include box-shadow;
    border-radius: var(--borderRadius);
  }
}

.card__info {
  padding: calc(var(--padding) / 2);
  margin: 0 0 0 0;

  & a {
    width: 100%;
    // border-bottom: .162em solid $mainBrand;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
    color: $mainBrand;
    background-image: linear-gradient(to right, $mainBrand);
    background-position: 0 1.18em;
    background-repeat: repeat-x;
    background-size: 8px 3px;
  }

  & h2 {
    margin: var(--margin) 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  & p {
    margin: var(--margin) 0;
  }

  & .blurb {
    margin: calc(var(--margin) / 2) 0;
    font-size: 0.62em;
    font-style: oblique;
  }
}
