@use "@/styles/abstracts" as *;

.scoreHeader {
  border-bottom: 10px solid get-color("lightShades", 600);
  aspect-ratio: 12/1;
  opacity: 0.5;
  // filter: brightness(0.5) sepia(1) hue-rotate(0deg);
  background-image: url("./score-landscape.png");

  @include respond-to("sm") {
    aspect-ratio: 16/1;
  }

  @include respond-to("md") {
    aspect-ratio: 24/1;
  }

  @include respond-to("lg") {
    aspect-ratio: 32/1;
  }
}