@use "../../styles/abstracts" as *;

.score-header {}

.image {
  border-bottom: 1px solid get-color("lightShades", 600);
  margin-bottom: $space-md;
  aspect-ratio: 12/1;

  @include respond-to("sm") {
    aspect-ratio: 16/1;
  }

  @include respond-to("md") {
    aspect-ratio: 24/1;
  }

  @include respond-to("lg") {
    aspect-ratio: 32/1;
  }
}