.event-container {
  grid-area: feature;
  width: 100%;
  color: var(--fontColorLight);
}

.performance-header {
  margin: var(--margin) 0;
  font-size: 1.33rem;
}

.event-container li {
  margin: 0 0 .66em;
}
.event-title {
  margin: 0;
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--black);
  font-size: 1.1rem;
}

.event-date {
  margin: .15em 0 0 .5em;
  padding: var(--padding);
  box-shadow: var(--box-shadow);
  background-color: var(--red);
  color: var(--fontColorLight);
  border-radius: var(--border-radius);
  text-align: end;
}

/* TODO: add css spinner */