---
import MusicianLayout from "@/layouts/MusicianLayout.astro";
import MaxWidthContainer from "@/components/UI/MaxWidthContainer.astro";

import styles from "./performances.module.scss";
---

<MusicianLayout>
  <MaxWidthContainer>
    <section class={styles.header}>
      <h1>Performance Page</h1>
      <p>No performances scheduled currently.</p>
    </section>
  </MaxWidthContainer>
</MusicianLayout>
