---
import MusicianLayout from "@/layouts/MusicianLayout.astro";
import ContactForm from "@/components/ContactForm";
---

<MusicianLayout
    title="Contact"
    description="Contact me for guitar lessons, arrangements, compositions, freelance work, or just to say hello."
>
    <div class="layout-grid__centered">
        <ContactForm />
    </div>
</MusicianLayout>
