/* colors, sass */
$black: #222222;
$white: invert($black);
$neutral: mix($black, $white, 25%);
$mainBrand: #2e3832;
$darkShades: #382e31;
$lightShades: #e4ddcd;

$errorColor: #662222;
$warningColor: #e2e263;
$successColor: #556655;

@function tint($color, $percentage) {
  $tintWhite: scale-color($color, $lightness: 76%);
  @return mix($tintWhite, $color, $percentage);
}

@function shade($color, $percentage) {
  $tintBlack: scale-color($color, $lightness: -76%);
  @return mix($tintBlack, $color, $percentage);
}

$black-100: tint($black, 76%);
$black-200: tint($black, 47%);
$black-300: tint($black, 29%);
$black-400: tint($black, 18%);
$black-500: $black;
$black-600: shade($black, 18%);
$black-700: shade($black, 29%);
$black-800: shade($black, 47%);
$black-900: shade($black, 76%);

$white-100: tint($white, 76%);
$white-200: tint($white, 47%);
$white-300: tint($white, 29%);
$white-400: tint($white, 18%);
$white-500: $white;
$white-600: shade($white, 18%);
$white-700: shade($white, 29%);
$white-800: shade($white, 47%);
$white-900: shade($white, 76%);

$neutral-100: tint($neutral, 76%);
$neutral-200: tint($neutral, 47%);
$neutral-300: tint($neutral, 29%);
$neutral-400: tint($neutral, 18%);
$neutral-500: $neutral;
$neutral-600: shade($neutral, 18%);
$neutral-700: shade($neutral, 29%);
$neutral-800: shade($neutral, 47%);
$neutral-900: shade($neutral, 76%);

$mainBrand-100: tint($mainBrand, 76%);
$mainBrand-200: tint($mainBrand, 47%);
$mainBrand-300: tint($mainBrand, 29%);
$mainBrand-400: tint($mainBrand, 18%);
$mainBrand-500: $mainBrand;
$mainBrand-600: shade($mainBrand, 18%);
$mainBrand-700: shade($mainBrand, 29%);
$mainBrand-800: shade($mainBrand, 47%);
$mainBrand-900: shade($mainBrand, 76%);

$darkShades-100: tint($darkShades, 76%);
$darkShades-200: tint($darkShades, 47%);
$darkShades-300: tint($darkShades, 29%);
$darkShades-400: tint($darkShades, 18%);
$darkShades-500: $darkShades;
$darkShades-600: shade($darkShades, 18%);
$darkShades-700: shade($darkShades, 29%);
$darkShades-800: shade($darkShades, 47%);
$darkShades-900: shade($darkShades, 76%);

$lightShades-100: tint($lightShades, 76%);
$lightShades-200: tint($lightShades, 47%);
$lightShades-300: tint($lightShades, 29%);
$lightShades-400: tint($lightShades, 18%);
$lightShades-500: $lightShades;
$lightShades-600: shade($lightShades, 18%);
$lightShades-700: shade($lightShades, 29%);
$lightShades-800: shade($lightShades, 47%);
$lightShades-900: shade($lightShades, 76%);


$colors: (
  black: (100: $black-100,
    200: $black-200,
    300: $black-300,
    400: $black-400,
    500: $black-500,
    600: $black-600,
    700: $black-700,
    800: $black-800,
    900: $black-900, ),
  white: (100: $white-100,
    200: $white-200,
    300: $white-300,
    400: $white-400,
    500: $white-500,
    600: $white-600,
    700: $white-700,
    800: $white-800,
    900: $white-900, ),
  neutral: (100: $neutral-100,
    200: $neutral-200,
    300: $neutral-300,
    400: $neutral-400,
    500: $neutral-500,
    600: $neutral-600,
    700: $neutral-700,
    800: $neutral-800,
    900: $neutral-900, ),
  darkShades: (100: $darkShades-100,
    200: $darkShades-200,
    300: $darkShades-300,
    400: $darkShades-400,
    500: $darkShades-500,
    600: $darkShades-600,
    700: $darkShades-700,
    800: $darkShades-800,
    900: $darkShades-900, ),
  lightShades: (100: $lightShades-100,
    200: $lightShades-200,
    300: $lightShades-300,
    400: $lightShades-400,
    500: $lightShades-500,
    600: $lightShades-600,
    700: $lightShades-700,
    800: $lightShades-800,
    900: $lightShades-900, ),
  mainBrand: (100: $mainBrand-100,
    200: $mainBrand-200,
    300: $mainBrand-300,
    400: $mainBrand-400,
    500: $mainBrand-500,
    600: $mainBrand-600,
    700: $mainBrand-700,
    800: $mainBrand-800,
    900: $mainBrand-900, ),
  state: (info: #e9f1f9,
    error: #884455,
    warning: #888800,
    success: #448855,
  ),
);

@function color($keys...) {
  $value: $colors;

  @each $key in $keys {
    $value: map-get($value, $key )
  }

  @return $value
}