@import "../../styles/base.scss";

.container {
  display: block;
  margin: $margin 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.card {
  transition: 0.3s;
  @include boxShadow;
  border-radius: $borderRadius;
  @include gradient($lightShades);
  padding: $padding;
  color: $darkShades;
}

.card__display {
  display: block;

  & img {
    display: block;
    width: 100%;
    @include boxShadow;
    border-radius: $borderRadius;
  }
}

.card__info {
  padding: ($padding * $large);
  margin: 0 0 0 0;

  & a {
    width: 100%;
    // border-bottom: .162em solid $mainBrand;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
    color: $mainBrand;
    background-image: linear-gradient(to right, $mainBrand);
    background-position: 0 1.18em;
    background-repeat: repeat-x;
    background-size: 8px 3px;
  }

  & h2 {
    margin: $margin 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  & p {
    margin: $margin 0;
  }

  & .blurb {
    margin: ($margin * $large) 0;
    font-size: 0.62em;
    font-style: oblique;
  }
}
