@import "./normalize.scss";
@import "./base.scss";

/* #region Variables */
:root {
  /* animations */
  --softIn: softIn 0.33s ease-in;
}

/* #endregion Variables */
html {
  box-sizing: border-box;
  font-size: calc(15px + 0.390625vw);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $fontStack;
  line-height: 1.618rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

*::selection {
  background-color: $darkShades;
  color: $lightShades;
}

a {
  color: $mainBrand;
}

ul {
  list-style-type: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

@keyframes softIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}