---
import { Image } from "astro:assets";

const { article } = Astro.props;
---

{
    article.data.cover && (
        <figure class="">
            <Image
                class="cover"
                src={article.data.cover}
                alt={article.data.title}
                layout="full-width"
            />
            {article.data.coverCredit && (
                <figcaption>
                    <a href={article.data.coverCredit}>
                        <em>Image Credit:</em>
                        {article.data.coverCredit}
                    </a>
                </figcaption>
            )}
        </figure>
    )
}

<style lang="scss">
    @use "@/styles/abstracts" as *;

    figure {
        margin: 0;
        figcaption {
            background: get-color("lightShades", 300);
            a {
                color: inherit;
                @include padding-box("sm");
                display: inline-block;
                word-wrap: break-word; /* For legacy support */
                word-break: break-word; /* Break long words */
                overflow-wrap: anywhere; /* Best modern solution */
                white-space: normal; /* Allow wrapping */
                &:visited {
                    color: inherit;
                }
            }
        }
    }
    .cover {
        // width: 100%;
        // max-height: 50%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16 / 9;
    }
</style>
