---
import { Icon } from "astro-icon/components";

interface Props {
    to: string;
    target?: "_self" | "_blank";
}

const { to, target } = Astro.props;
---

<a class="external-link" href={to} target={target}>
    <slot />
    <Icon name="tabler:external-link" />
</a>

<style lang="scss">
    @use "@/styles/abstracts" as *;

    .external-link {
        display: inline-flex;
        gap: $space-xxs;
        align-items: center;
        color: get-color("mainBrand", 400);
        font-weight: $fw-xl;

        @include respond-to("lg") {
            text-decoration: none;
        }

        &:focus,
        &:hover {
            color: get-color("mainBrand", 600);
            text-decoration: underline;
        }

        &:visited {
            font-weight: $fw-md;
            color: get-color("mainBrand", 300);
        }
    }
</style>
