---
const currentPath = Astro.url.pathname;
const { to } = Astro.props;
const isActive = currentPath === to ? "active" : null;
---

<a href={to} class:list={["navigation-header-link", isActive]}>
    <slot />
</a>

<style lang="scss">
    @use "@/styles/abstracts" as *;

    .navigation-header-link {
        display: block;
        width: 100%;
        color: get-color("mainBrand");
        font-weight: $fw-lg;
        line-height: 1;
        text-decoration: none;
        @include padding-box("sm");
        white-space: nowrap;

        &:visited {
            color: inherit;
        }

        &:hover {
            color: get-color("lightShades");
            background: get-color("darkShades", 300);
        }

        &.active {
            color: get-color("lightShades");
            background: get-color("darkShades", 300);
        }
    }
</style>
