---
// import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
// import {
//   faGithubSquare,
//   faLinkedinIn,
// } from "@fortawesome/free-brands-svg-icons";

import Copyright from "@/components/Copyright";
import Heading from "@/components/Heading/Heading";
// import ExternalLink from "@/components/ExternalLink";

import styles from "./site-footer.module.scss";

const { type } = Astro.props;
---

<footer class={styles.footer}>
    <section class={styles.left}>
        <Heading level={1} size={6} color="light">Links</Heading>
        <a href="/design">Design</a>
        <a href="/show-notes">Show Notes</a>
    </section>
    <Copyright
        originYear="2018"
        holder="Elliot Reed"
        link={{
            to: "/",
        }}
    />
</footer>
