---
const { style = "ellipse" } = Astro.props;
interface Props {
    style?: "ellipse";
}
---

<div class:list={["viewport-decorator", style]}>
    <div></div>
    <div></div>
</div>

<style lang="scss">
    @use "@/styles/abstracts" as *;
    .viewport-decorator {
        position: fixed;
        inset: 0;
        z-index: -1;

        &.ellipse {
            > * {
                position: relative;
                width: get-scale(500) * 100vw;
                aspect-ratio: 3/2;
                background: get-color("darkShades");
                border-radius: percent-scale(400) percent-scale(300);
                opacity: get-scale(100) * get-scale(100) * get-scale(100);
            }

            :first-child {
                transform: translate(
                    percent-scale(300),
                    percent-scale(100) * -1
                );
            }

            :last-child {
                bottom: -7.5em;
                transform: translate(
                    percent-scale(300) * -1,
                    percent-scale(300)
                );
            }
        }
    }
</style>
