---
const { style = "ellipse" } = Astro.props;
---

<div class="viewport-decorator">
    <div class="ellipse"></div>
    <div class="ellipse"></div>
</div>

<style lang="scss">
    @use "@/styles/abstracts" as *;
    .viewport-decorator {
        .ellipse {
            position: fixed;
            z-index: -1;
            width: get-scale(500) * 100vw;
            aspect-ratio: 3/2;
            border-radius: percent-scale(400) percent-scale(300);
            background: get-color("darkShades");
            opacity: get-scale(100) * get-scale(100) * get-scale(100);
            transform: translate(percent-scale(300), percent-scale(100) * -1);
        }

        .ellipse + .ellipse {
            bottom: 0;
            transform: translate(percent-scale(300) * -1, percent-scale(300));
        }
    }
</style>
