@use "../../styles/abstracts" as *;

.navigation-header-link {
  padding-inline: $space-xsm;
  color: get-color("mainBrand");
  font-weight: $fw-md;
  text-decoration: none;

  &:hover {
    color: get-color("darkShades");
    background: none;
  }

  &:visited {
    color: inherit;
  }

  &-active {
    border-bottom: 2px solid get-color("mainBrand");
  }
}