<!DOCTYPE html>
<html lang="en" style="width: 100%; min-height: 100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body style="width: 100%; min-height: 100%; color: #222222;">
  this is the body! idiot!
  <div style="width: 200px; height: 200px; background-color: gray; opacity: 1;">Here is a div with some content.</div>
  <div style="width: 200px; height: 200px; background-color: gray; opacity: .75;">Here is a div with some content.</div>
  <div style="width: 200px; height: 200px; background-color: gray; opacity: .5;">Here is a div with some content.</div>
  <div style="width: 200px; height: 200px; background-color: gray; opacity: .25;">Here is a div with some content.</div>
  <div style="width: 200px; height: 200px; background-color: gray; opacity: .05;">Here is a div with some content.</div>
</body>

</html>