.header {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  background-color: var(--white);
  background-image: linear-gradient(
    to bottom,
    rgba(var(--lightShadesRGB), 0.5) 0%,
    rgba(var(--lightShadesRGB), 0.75) 10%,
    rgba(var(--lightShadesRGB), 1) 62%,
    rgba(var(--lightShadesRGB), 0.75) 90%,
    rgba(var(--lightShadesRGB), 1) 100%,
  );
  color: var(--mainBrand);
  box-shadow: var(--boxShadow);
}

.nav-brand {
  display: flex;
  align-items: center;
  color: var(--mainBrand);
}


.logo-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  // margin: 0;
  margin-right: calc(var(--margin) / 3);
  font-size: 1.32rem;
  font-weight: bolder;
  color: var(--mainBrand);
  text-transform: uppercase;
}

// #region aspect
.aspect {
  position: relative;
  perspective: 400px;
}

.aspect-menu {
  position: absolute;
  left: calc(-1 * var(--padding));
  border: var(--border);
  border-radius: var(--borderRadius);
  background: var(--lightShades);
  padding: calc(var(--padding) * 0.32) var(--padding);
  transform: rotateX(93deg);
  transform-origin: top;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.qualifier-text {
  font-size: 1rem;
  font-style: italic;
}
// #endregion

// #region Nav
.nav-list {
  display: flex;

  li {
    margin-right: var(--margin);
    color: var(--mainBrand);
    text-decoration: none;
  }

  a {
    &:hover {
      background: none;
      color: var(--darkAccent);
      cursor: pointer;
    }
  }
}

.active-nav-item {
  color: var(--lightAccent);
}
// #endregion
