.header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  background: var(--lightShades);
  color: var(--mainBrand);
  text-shadow: var(--textShadowLight);
}

.nav-brand {
  display: flex;
  align-items: center;
  color: var(--mainBrand);
  animation: fadeslide 0.33s ease-in;
}

@keyframes fadeslide {
  from {
    opacity: 0;
    transform: translate(-100%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0%, 0);
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.title {
  // margin: 0;
  margin-right: calc(var(--margin) / 3);
  font-size: 1.32rem;
  font-weight: bolder;
  color: var(--mainBrand);
  text-transform: uppercase;
}

// #region Qualifier
.qualifier {
  --duration: 1s;
  --timing-function: ease-in;
  --delay: 0s;
  --iteration-count: 1;
  --direction: forwards;
  display: flex;
}

.qualifier-text {
  font-size: 1rem;
  // font-weight: 300;
  font-style: italic;
}

.current-facet {
  opacity: 1;
}

.other-facet {

}

.show-facet {
  animation: showQualifier var(--duration) var(--timing-function) var(--delay) var(--iteration-count) var(--direction);
}

.hide-facet {
  animation: hideQualifier var(--duration) var(--timing-function) var(--delay) var(--iteration-count) var(--direction);
}

@keyframes showQualifier {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideQualifier {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// #endregion

// #region Nav
.nav-list {
  display: flex;

  li {
    margin-right: var(--margin);
    color: var(--mainBrand);
    text-decoration: none;
  }

  a {
    &:hover {
      background: none;
      color: var(--darkAccent);
      cursor: pointer;
    }
  }
}

.active-nav-item {
  color: var(--lightAccent);
}
// #endregion
