@use "../../styles/abstracts" as *;

// #region Nav
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

  @include respond-to("xs") {
    flex-wrap: nowrap;
  }
}

.show-list-link {
  position: relative;

  & button {
    font-size: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.show-list {
  position: absolute;
  top: 1.618rem;
  right: 0;
  height: 0;
  @include shadow(1);
  margin: 0;
  padding: 0;
  color: get-color("mainBrand");
  white-space: nowrap;
  background: get-color("lightShades");
  border-radius: $border-radius;
  overflow: hidden;
  transition: height $duration-md ease-in-out;

  & li {
    padding: $space-md;
    margin: 0;
    border: 1px solid transparent;

    &:hover a {
      color: darken(get-color("mainBrand"), $largePercent);
      cursor: pointer;
    }

    &:first-child {
      padding-bottom: 0;
    }
  }

  & p {
    margin: 0;
    color: lighten(get-color("mainBrand"), $smallPercent);
    font-size: 0.75rem;
    font-weight: bold;
    border-bottom: 0.0618rem solid get-color("mainBrand");
  }
}

.roll-down {
  height: 6rem;
}

// #endregion