@import "../../styles/base.scss";

.page-title-container {
  position: relative;
  margin-top: calc($margin * 2);
  // margin-bottom: $margin;

  & .page-title {
    position: ablsolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: $lightShades;
  }
}

.container {
  margin: 0 auto;
  color: $lightShades;
}

.set-wrapper {
  margin: $margin;
  background: hsla(342, 10%, 20%, 0.98);
  padding: var(--padding);
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
}

.set-title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid $lightShades;
}

.song-list {
  padding: var(--padding) 0;
}

.song-content {
  padding: var(--padding);
}

.song {
  margin: 0 0 $margin;
  box-shadow: var(--boxShadow), -5px -5px 15px #22222288;
  border-radius: var(--borderRadius);
}

.song-title {
  padding: var(--padding);
}

.part-list {
  margin: 0 0 $margin;
  padding: var(--padding);
  font-size: 1.618rem;
  background: lighten(hsl(339, 10%, 20%), 10);
  border-radius: var(--borderRadius);
  @include box-shadow;

  & li {
    margin-bottom: $margin;
    border-bottom: 1px solid $lightShades;

    & span {
      font-size: 1.32rem;
    }
    & .part {
      display: block;
      font-style: oblique;
      font-size: 1rem;
    }
  }
}

.title-button-wrapper {
  display: flex;

  & button {
    height: 1rem;
    margin-left: $margin;
    border: 1px solid $lightShades;
    background: transparent;
    padding: 0;
    font-size: 2rem;
    color: $lightShades;

    & span {
      transform: rotate(90deg);
    }
  }
}

.link-container {
  display: flex;
  margin-bottom: $margin;
  padding: var(--padding);
  background: lighten(hsl(339, 10%, 20%), 10);
  background: $lightShades;
  border-radius: var(--borderRadius);
  @include box-shadow;
  &:hover {
    cursor: pointer;
  }

  & .link {
    text-decoration-line: underline;
    text-underline-position: under;
    color: lighten(#505f56, 0);

    &:hover {
      cursor: pointer;
    }
  }

  & img {
    width: 3rem;
    height: 5rem;
    margin-right: $margin;
  }
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $margin;
  overflow: hidden;
  background: lighten(hsl(339, 10%, 20%), 10);
  border-radius: var(--borderRadius);
  @include box-shadow;

  & li {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: $margin;
    // max-width: 25rem;
    min-width: 13rem;
  }

  & label {
    padding: calc(var(--padding) / 3) 0 var(--padding);
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
