@use "../../styles/abstracts";

.header {
  margin: abstracts.$margin;
  width: 100%;
  border: abstracts.$border;
  border-radius: abstracts.$border-radius;
  background: abstracts.$lightShades;
  padding: abstracts.$padding;
  color: abstracts.$darkShades;

  & h1 {
    margin: abstracts.$margin 0;
    font-weight: bold;
    color: abstracts.$mainBrand;
  }
}