@import "../../styles/base.scss";

.header {
  margin: $margin;
  max-width: 100%;
  @include boxShadow;
  border-radius: $borderRadius;
  @include gradient($lightShades);
  padding: $padding;
  color: $darkShades;

  & h1 {
    margin: $margin 0;
    font-weight: bold;
    color: $mainBrand;
  }
}
