.header {
  margin: var(--margin);
  width: 100%;
  border: var(--border);
  border-radius: var(--borderRadius);
  background: var(--lightShades);
  padding: var(--padding);
  color: var(--darkShades);

  & h1 {
    margin: var(--margin) 0;
    font-weight: bold;
    color: var(--mainBrand);
  }
}