@import "../../styles/base.scss";

.header {
  margin: var(--margin);
  width: 100%;
  @include box-shadow;
  border-radius: var(--borderRadius);
  @include gradient($lightShades);
  padding: var(--padding);
  color: $darkShades;

  & h1 {
    margin: var(--margin) 0;
    font-weight: bold;
    color: $mainBrand;
  }
}