---
const { href } = Astro.props;
---

<a href={href} class="card">
    <header>
        <slot name="header" />
    </header>

    <div class="content">
        <slot name="content" />
    </div>
</a>

<style lang="scss">
    @use "@/styles/abstracts" as *;

    .card {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: $space-md;
        border: $border;
        border-radius: $border-radius;
        color: get-color("darkShades");
        background: get-color("lightShades", 400);
        @include shadow(2);
        overflow: hidden;

        .content {
            margin-inline: $space-md;
        }
    }
</style>
