    @use "@/styles/abstracts" as *;

    .table-container {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        border-radius: $border-radius;
        overflow-x: auto;
    }

    .table {
        // border-collapse: collapse;
        // width: 100%;
        // max-width: 100%;
        // margin: 0 auto;
    }

    th,
    td {
        // padding: 8px;
        // text-align: left;
        // border-bottom: 1px solid #ddd;
    }

    th {
        // background-color: #f2f2f2;
    }