@use "../../styles/abstracts" as *;
// @use '../../styles/base/typography';
@use "../../styles/config";
@use 'sass:list';
// This sets heading elements to the scale,
//   and creates utility classes
//   "heading-1, heading-2"

$font-size: 800;
$font-weight: 650;
$line-height-size: 300; // 1.35 1.7 ~1.5
$margin-size: 400;
$size-difference: 100;

$letter-spacing-list: (
  -.03em,
  -.02em,
  -.01,
  0,
  .1em,
  .2em
);

@for $i from 1 through 6 {

  h#{$i},
  .heading-#{$i} {
    color: get-color("mainBrand");
    // font-family: typography.$fontStack;
    font-size: em-scale($font-size);
    // font-weight: $font-weight;
    line-height: (config.$line-height * scale($line-height-size));
    letter-spacing: list.nth($letter-spacing-list, $i);

    margin-block-start: rem-scale($margin-size);
    margin-block-end: rem-scale($margin-size);
  }

  $font-size: $font-size - $size-difference;
  // $font-weight: $font-weight + calc($size-difference / 2);
  $line-height-size: $line-height-size + $size-difference;
  $margin-size: $margin-size + $size-difference;
}

.clr-default {
  color: get-color("mainBrand");
}

.clr-light {
  color: get-color("lightShades");
}

.clr-dark {
  color: get-color("darkShades");
}