@use "../styles/abstracts";



.NotFoundPage {
  display: grid;
  place-content: center;
  height: 100vh;
  color: abstracts.get-color(lightShades);
  text-align: center;
  background: abstracts.get-color(mainBrand);

  button {
    @include abstracts.padding-box();
    font-weight: bold;
    border-radius: abstracts.$border-radius;

    &:hover {
      cursor: pointer;
    }
  }
}