@use "../styles/abstracts" as *;

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: get-color("lightShades");
  background: get-color("darkShades");

  button {
    @include padding-box();
    font-weight: bold;
    border-radius: $border-radius;

    &:hover {
      cursor: pointer;
    }
  }
}