@use "../styles/abstracts";

.landing-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 0;
  background: abstracts.$black;

  @media (min-width: 640px) and (orientation: landscape) {
    flex-direction: row;
  }

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.aspect-container {
  $transition: abstracts.$duration-md all ease-in-out;
  position: relative;
  flex-basis: 50%;
  background-attachment: local;
  background-color: abstracts.$black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: $transition;

  &:before {
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(abstracts.$black, abstracts.$small);
    transition: $transition;
  }

  &:hover {
    flex-basis: 61.8%;
  }

  .aspect-heading {
    position: absolute;
    left: 50%;
    top: 10%;
    color: abstracts.$white;
    white-space: nowrap;
    transform: translateX(-50%);
  }

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    color: abstracts.$white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: abstracts.$white solid 0.25em;
    @include abstracts.paddingBox;
    transform: translateX(-50%);

  }

  &.left a:hover {
    background-color: lighten(abstracts.$mainBrand, abstracts.$smallPercent);
    border-color: abstracts.$mainBrand;
  }

  &.right a:hover {
    background-color: lighten(abstracts.$darkShades, abstracts.$smallPercent);
    border-color: abstracts.$darkShades;
  }

  &.left {
    background-image: url("../images/landing-developer-background_0.25x.jpg");
    background-position: 0% center;
  }

  &.right {
    background-image: url("../images/landing-musician-background_0.5x.jpg");
  }

  @media (min-width: 500px) {
    &.left {
      background-image: url("../images/landing-developer-background_0.5x.jpg");
    }
  }

  @media (min-width: 768px) {
    &.left {
      background-image: url("../images/landing-developer-background_0.75x.jpg");
    }

    &.right {
      background-image: url("../images/landing-musician-background_0.75x.jpg");
    }
  }

  @media (min-width: 1080px) {
    &.left {
      background-image: url("../images/landing-developer-background.jpg");
    }

    &.right {
      background-image: url("../images/landing-musician-background.jpg");
    }
  }
}