@import '../styles/base';

.landing-container {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $black;
  
  h1 {
    position: absolute;
    left: 50%;
    top: 10%;
    font-weight: bold;
    white-space: nowrap;
    color: $white;
    transform: translateX(-50%);
  }
}


.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4em;
  width: 14em;
  padding: 1.25em;
  border: $white solid 0.25em;
  color: $white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
  cursor: pointer;
}

.left .button:hover {
  background-color: lighten($mainBrand, $smallPercent);
  border-color: $mainBrand;
}

.right .button:hover {
  background-color: lighten($darkShades, $smallPercent);
  border-color: $darkShades;
}

.split {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

@media (min-width: 576px) {
  .split {
    width: 50%;
    height: 100%;
  }
}

.left {
  left: 0;
  background: url("../img/dev-background_1920.png") center center no-repeat;
  background-size: cover;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba($black, $small);
}

.right {
  right: 0;
  background: url("../img/elliot-26.jpg") center center no-repeat;
  background-size: cover;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba($black, $small);
}

.left,
.right,
.left::before,
.right::before {
  transition: $duration all ease-in-out;
}
