@use "../styles/abstracts" as *;

// add respondTo mixin

.landing-page {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: $body-background-color;

  @media (min-width: 640px) and (orientation: landscape) {
    flex-direction: row;
  }

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.aspect-container {
  $transition: $duration-md all ease-in-out;
  position: relative;
  flex-basis: 50%;
  background-attachment: local;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: $transition;

  &:before {
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(get-color(black), $small);
    transition: $transition;
  }

  &:hover {
    flex-basis: 61.8%;
  }

  .aspect-heading {
    position: absolute;
    left: 50%;
    top: 10%;
    color: get-color(white);
    white-space: nowrap;
    transform: translateX(-50%);
  }

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    color: get-color(white);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: get-color(white) solid em-scale(100);
    @include padding-box();
    transform: translateX(-50%);

  }

  &.left a:hover {
    background-color: get-color(mainBrand, 400);
    border-color: get-color(mainBrand);
  }

  &.right a:hover {
    background-color: get-color(darkShades, 400);
    border-color: get-color(darkShades);
  }

  &.left {
    background-image: url("../images/landing-developer-background_0.25x.jpg");
    background-position: 0% center;
  }

  &.right {
    background-image: url("../images/landing-musician-background_0.5x.jpg");
  }

  @media (min-width: 500px) {
    &.left {
      background-image: url("../images/landing-developer-background_0.5x.jpg");
    }
  }

  @media (min-width: 768px) {
    &.left {
      background-image: url("../images/landing-developer-background_0.75x.jpg");
    }

    &.right {
      background-image: url("../images/landing-musician-background_0.75x.jpg");
    }
  }

  @media (min-width: 1080px) {
    &.left {
      background-image: url("../images/landing-developer-background.jpg");
    }

    &.right {
      background-image: url("../images/landing-musician-background.jpg");
    }
  }
}