@use "../../styles/abstracts";

.background {
  border: 1em solid transparent;
  color: abstracts.get-color(lightShades);
  margin: abstracts.$margin 0;
}

.profileWrapper {
  margin: abstracts.$margin;
}

.windowImage {
  width: 10rem;
  // height: 400px;
  margin: 0 auto;
  background-color: transparent;
}

.infoWrapper {
  margin: abstracts.$margin;
}