@use "../../styles/abstracts" as *;


.developer-content {
  display: flex;
  justify-content: center;
  gap: $space-md;

  margin-top: $space-lg;
}

.link-card {
  color: initial;
  text-decoration: none;
}