.portfolio-header {
  margin: var(--margin);
  width: 100%;
  border: var(--border);
  border-radius: var(--borderRadius);
  background: var(--lightShades);
  padding: var(--padding);
  color: var(--darkShades);

  h1 {
    color: var(--mainBrand);
    text-shadow: 3px 3px rgba(var(--darkShadesRGB), 0.1);
    margin: var(--margin) 0;
  }

  p {
    color: var(--darkShades);
  }
}
