@import "../../styles/base.scss";

.portfolio-header {
  width: 100%;
  margin: var(--margin);
  @include box-shadow;
  border-radius: var(--borderRadius);
  @include gradient($lightShades);
  padding: $padding;

  h1 {
    color: $mainBrand;
    font-weight: bold;
    margin: var(--margin) 0;
  }

  p {
    color: $darkShades;
  }
}
