@import "../../styles/base.scss";

.portfolioHeader {
  margin: $margin 0;
  width: 100%;
  @include boxShadow;
  border-radius: $borderRadius;
  @include gradient($lightShades);
  padding: $padding;

  h1 {
    color: $mainBrand;
    font-weight: bold;
    margin: $margin 0;
  }

  p {
    color: $darkShades;
  }
}
