@use "../../styles/abstracts" as *;

.contact-form {
  margin-inline: $space-md;
  margin-block: $space-md;
  padding-inline: $space-md;
  color: get-color(darkShades);
  border: 1px solid transparent;
  border-radius: $border-radius;

  .error {
    color: get-color(error, 500);
    font-weight: $fw-lg;
  }

  &>*+* {
    margin-top: $space-sm;
  }

  &>:last-child {
    margin-bottom: $space-sm;
  }

  & h1 {
    font-weight: $fw-lg;
    color: get-color(mainBrand);
  }


  & label {
    display: block;

    &::after {
      content: ":";
    }
  }

  & input,
  textarea {
    color: get-color(darkShades);
    width: 100%;
    height: $space-md;
    border-radius: $border-radius;
    background-color: get-color(lightShades, 100);
    padding: $space-md;
    outline: none;
    box-shadow: 1px 1px 2px rgba(get-color(darkShades), 0.2) inset;

    &:focus,
    :active {
      // border: 1px solid;
      box-shadow: 0 0 3px rgba(get-color(darkShades), 0.5), 1px 1px 2px get-color(darkShades) inset;

    }
  }

  & textarea {
    height: 10rem;
    resize: vertical;
  }
}

.sending {
  display: block;
  position: relative;
  inset: 0;
  margin-block: $space-xsm;

  svg {
    color: get-color(lightShades);
    @include shadow(2);
  }
}