@use "../../../styles/abstracts" as *;

.bands {
  color: initial;

  a {
    @include anchor;
  }

  img {
    max-width: 100%;
    border-radius: $border-radius;
  }

  &__hero {
    margin-top: $space-md;
    border-radius: $border-radius;
  }
}