---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import MusicianLayout from "@/layouts/MusicianLayout.astro";

// This function tells Astro what routes to generate at build time
export async function getStaticPaths() {
    const allArticles = await getCollection("articles");

    // Only consider posts whose slug contains a "/" (i.e. has category and a non-index slug part)
    const filteredPosts = allArticles.filter(
        (entry: CollectionEntry<"articles">) => entry.slug.includes("/"),
    );

    return filteredPosts.map((entry: CollectionEntry<"articles">) => {
        // Assuming your collection is organized with categoryName/slugName.md structure
        const [category, slug] = entry.slug.split("/");

        return {
            params: { category, slug },
            props: { entry },
        };
    });
}

// Get the article from props
interface Props {
    entry: CollectionEntry<"articles">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MusicianLayout>
    <article>
        <h1>{entry.data.title}</h1>
        <p><em>{entry.data.publishedDate.toDateString()}</em></p>
        <Content />
    </article>
</MusicianLayout>
