---
import MusicianLayout from "@/layouts/MusicianLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const allPosts: CollectionEntry<"articles">[] =
        await getCollection("articles");

    const categorySet = new Set(
        allPosts.map((entry) => entry.slug.split("/")[0]),
    );

    return Array.from(categorySet).map((category) => ({
        params: { category },
    }));
}

const { category } = Astro.params;
const allPosts: CollectionEntry<"articles">[] = await getCollection("articles");

const posts = allPosts.filter(
    (post) => post.slug.startsWith(`${category}/`) && post.slug !== category,
);

const categoryIndex = allPosts.find((post) => post.slug === category);

const { Content } = categoryIndex
    ? await categoryIndex.render()
    : { Content: null };
---

<MusicianLayout>
    <h1>{category}</h1>

    {Content && <Content />}

    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/articles/${post.slug}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</MusicianLayout>
