@use "../../styles/abstracts";

.profileImage {
  display: flex;
  align-items: center;
  max-height: 36em;
  border: abstracts.$border;
  border-radius: abstracts.$border-radius;
  background-color: abstracts.get-color(lightShades);
  padding: abstracts.$padding;
  @include abstracts.boxShadow;

  img {
    // width: 10rem;
    border: 2px solid abstracts.get-color(darkShades);
  }
}

@supports (clip-path: circle()) or (-webkit-clip-path: circle()) {
  .profileImage {
    border: none;
    // background: none;

    img {
      border: none;
      clip-path: circle();
    }
  }
}

.profileImageText {
  display: block;
  // min-height: 4em;
  align-items: center;
  padding: abstracts.$padding;

  p {
    margin: 0;
    color: abstracts.get-color(darkShades);
    font-weight: bold;
  }
}