@use "@/styles/abstracts" as *;

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: get-color("mainBrand");
  background-color: $body-background-color;
  @include shadow(1);
  z-index: 10;
}

.logo-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: .168em;
  margin-inline: $space-md;
  color: inherit;
  line-height: 1;
  text-decoration: none;

  .title {
    display: block;
    margin: 0;
    margin-block: auto;
    color: inherit;
    font-size: $fs-md-rem;
    font-weight: $fw-xl;
    text-transform: uppercase;
  }
}