@use "@/styles/abstracts" as *;

@layer components {
    .tag-component {
        font-size: $fs-sm-rem;

        &.md {
            font-size: $fs-md-rem;
        }

        &.lg {
            font-size: $fs-lg-rem;
        }
    }

    .tag-component__links {
        display: flex;
        align-items: center;
        gap: $space-sm;
    }

    .tag-component__title-link {
        display: flex;
        align-items: center;
        gap: $space-sm;
        text-decoration: none;

        &:hover {
            text-decoration: initial;
        }
    }

    .tag-component__title {
        text-transform: uppercase;
        font-weight: $fw-xl;
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        padding-block-end: $space-xxs;
        gap: $space-xs;
        @include scrollbar;

        &.scroll-x {
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        &.scroll-y {
            flex-wrap: nowrap;
            overflow-y: auto;
        }

        li {
            list-style: none;
        }

        a {
            display: inline-block;
            min-width: fit-content;
            white-space: nowrap;
            text-decoration: none;
            word-break: none;
            color: inherit;
            background-color: get-color("lightShades", 600);
            @include padding-box("sm");
            border-radius: $border-radius;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: get-color("lightShades", 700);
                // color: get-color("dark", 300);
            }
        }
    }
}