@use "../../../styles/abstracts";

.pageWrapper {
  margin-top: abstracts.$margin;
}

.paddingContainer {
  padding: 0 abstracts.$padding;
}

.portfolioHeader {
  border-radius: abstracts.$border-radius;
  background: abstracts.get-color(lightShades);
  padding: abstracts.$padding;
  @include abstracts.boxShadow;

  h1 {
    color: abstracts.get-color(mainBrand);
  }

  p {
    color: abstracts.get-color(darkShades);
    margin-bottom: 0;
  }
}

.list {
  padding: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  color: abstracts.get-color(darkShades);
  margin: abstracts.$margin;
  @include abstracts.boxShadow;
  border-radius: abstracts.$border-radius;
  background: abstracts.get-color(lightShades);
  transition: 0.3s;
}

.card__display {
  display: inline-flex;
  gap: 1rem;
  max-width: 100%;
  margin: abstracts.$margin;

  & img {
    display: block;
  }
}

.card__info {
  margin: 0 abstracts.$margin abstracts.$margin;

  & a {
    color: abstracts.get-color(mainBrand);
  }

  & h2 {
    margin: abstracts.$margin 0;
    margin-bottom: 0;
  }

  & p {
    margin: abstracts.$margin 0;
  }

  & .blurb {
    font-size: 0.76em;
    font-style: italic;
    margin: (abstracts.$margin * abstracts.$large) 0;
  }

  & .productionFalse {
    font-size: small;
    font-style: oblique;
    color: abstracts.get-color(lightShades);
    border-radius: abstracts.$border-radius;
    background: abstracts.get-color(darkShades);
    @include abstracts.paddingBox;
  }
}