@use "../../../styles/abstracts";

.pageWrapper {
  margin-top: abstracts.$margin;
}

.paddingContainer {
  padding: 0 abstracts.$padding;
}

.portfolioHeader {
  border-radius: abstracts.$border-radius;
  background: abstracts.$lightShades;
  padding: abstracts.$padding;
  @include abstracts.boxShadow;

  h1 {
    color: abstracts.$mainBrand;
  }

  p {
    color: abstracts.$darkShades;
    margin-bottom: 0;
  }
}

.list {
  padding: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  color: abstracts.$darkShades;
  margin: abstracts.$margin;
  @include abstracts.boxShadow;
  border-radius: abstracts.$border-radius;
  background: abstracts.$lightShades;
  transition: 0.3s;
}

.card__display {
  display: inline-flex;
  gap: 1rem;
  max-width: 100%;
  margin: abstracts.$margin;

  & img {
    display: block;
  }
}

.card__info {
  margin: 0 abstracts.$margin abstracts.$margin;

  & a {
    color: abstracts.$mainBrand;
  }

  & h2 {
    margin: abstracts.$margin 0;
    margin-bottom: 0;
  }

  & p {
    margin: abstracts.$margin 0;
  }

  & .blurb {
    font-size: 0.76em;
    font-style: italic;
    margin: (abstracts.$margin * abstracts.$large) 0;
  }

  & .productionFalse {
    font-size: small;
    font-style: oblique;
    color: abstracts.$lightShades;
    border-radius: abstracts.$border-radius;
    background: abstracts.$darkShades;
    @include abstracts.paddingBox;
  }
}