@use "../../styles/abstracts";

.aboutMe {

  & .heading {
    color: abstracts.get-color(mainBrand);
    margin-left: abstracts.$space-md;
  }

  & p {
    margin: abstracts.$space-md;
  }
}

.skillList {
  list-style: none;

  & li:before {
    content: "🎓";
    font-size: 0.76rem;
    margin-right: calc(abstracts.$space-md / 3);
  }
}