@import "../../styles/base.scss";

.aboutMe {
  border: $border;
  border-radius: $borderRadius;
  @include gradient($lightShades);
  color: $darkShades;

  & .heading {
    color: $mainBrand;
    margin-left: $margin;
  }

  & p {
    margin: $margin;
  }
}

.skillList {
  list-style: none;

  & li:before {
    content: "🎓";
    margin-right: calc($margin / 3);
    font-size: 0.76rem;
  }
}
