@import "../../styles/base.scss";

.aboutMe {
  border: $border;
  border-radius: $borderRadius;
  @include gradient($lightShades);
  padding: $padding;
  color: $darkShades;

  & h3 {
    margin: $margin 0;
    color: $mainBrand;
    font-weight: bold;
  }
}
