@use "../../styles/abstracts";

.aboutMe {
  color: abstracts.get-color(darkShades);
  border: abstracts.$border;
  border-radius: abstracts.$border-radius;
  background-color: abstracts.get-color(lightShades);

  & .heading {
    color: abstracts.get-color(mainBrand);
    margin-left: abstracts.$margin;
  }

  & p {
    margin: abstracts.$margin;
  }
}

.skillList {
  list-style: none;

  & li:before {
    content: "🎓";
    font-size: 0.76rem;
    margin-right: calc(abstracts.$margin / 3);
  }
}