@use "../../styles/abstracts" as *;

.band-link {
  display: inline-flex;
  gap: $space-md;
  padding: $space-xs;
  align-items: center;
  color: initial;
  background: get-color("lightShades", 400);
  @include border($color: get-color("lightShades", 600));

  img {
    display: block;
    max-width: 100%;
    border-radius: $border-radius;
  }
}