---
// src/components/Sending.astro
import { Icon } from "astro-icon/components";
import styles from "./sending.module.scss";

interface Props {
  shouldAnimate?: boolean;
}

const { shouldAnimate = false } = Astro.props;
---

<div class={styles.sending} id="container">
  <Icon name="tabler:envelope" id="mail" />
</div>

{shouldAnimate && (
  <script>
    import gsap from "gsap";
    
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', () => {
      const mail = document.getElementById('mail');
      const container = document.getElementById('container');

      if (mail && container) {
        const xDuration = 1.5;
        const tl = gsap.timeline({
          repeat: -1,
        });
        
        tl.to(mail, {
          rotation: 360,
          duration: xDuration / 2,
          ease: 'none',
          repeat: 3,
        }, "<");
        
        tl.to(mail, {
          scale: 1.29,
          duration: xDuration / 2,
          yoyo: true,
          repeat: 3,
          ease: 'none',
        }, "<");
      }
    });
  </script>
)}