@use "@/styles/abstracts" as *;
@use "sass:color" as sasscolor;

.accordionBackground {
  background: get-color("darkShades", 700);
}

.pageTitle {
  color: get-color("mainBrand");
  text-align: center;
}

.setWrapper {
  margin-block-end: $space-md;
  padding: $space-md;
  color: get-color("lightShades");
  @include shadow(1);
  background: get-color("darkShades");
  border-radius: $border-radius;

  hr {
    border: none;
    background-color: get-color("lightShades");
    height: 1px;
    margin-block: 2em;
  }
}

.setTitle {
  display: flex;
  justify-content: space-between;

}

.songList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.songContent {
  padding: $space-md;
}

.song {
  border-radius: $border-radius;
  border: 1px solid sasscolor.change(get-color("lightShades"), $alpha: 0.5);
  @include shadow(1);

  +.song {
    margin-block-start: $space-md;
  }
}

.songTitle {
  padding-inline: $space-md;
}

.partWrapper {
  h6 {
    margin: 0;
  }
}

.partList {
  list-style: none;
  margin: 0 0 $space-md;
  padding: $space-md;
  font-size: 1.618rem;
  background: get-color("darkShades", 400);
  border-radius: $border-radius;
  @include shadow(1);

  & li {
    margin-bottom: $space-md;
    border-bottom: 1px solid get-color("lightShades");

    & span {
      font-size: 1.32rem;
    }

    & .part {
      display: block;
      font-style: oblique;
      font-size: 1rem;
    }
  }
}

.titleButtonWrapper {
  display: flex;

  & button {
    height: 1rem;
    margin-left: $space-md;
    border: 1px solid get-color("lightShades");
    background: transparent;
    padding: 0;
    font-size: 2rem;
    color: get-color("lightShades");

    & span {
      transform: rotate(90deg);
    }
  }
}