@use "@/styles/abstracts";

.logo {
  $size: abstracts.em-scale(400);
  filter: url(#shadow);
  fill: abstracts.get-color("mainBrand");
  // backface-visibility: visible;
  border: 0;
  outline: none;
  display: block;
  transform-origin: center center;
  width: $size;
  height: $size;

  @include abstracts.respond-to("sm") {
    $size: abstracts.em-scale(700);
    width: $size;
    height: $size;

  }
}

.musician,
.developer {
  transform-origin: bottom center;
  perspective: 200px;
  transform-style: preserve-3d;
  fill: abstracts.get-color("mainBrand");
  opacity: 1;
}

.active {
  fill: abstracts.get-color("mainBrand");
  opacity: 1;
}

.inactive {
  fill: abstracts.get-color("darkShades");
  opacity: 0.38;
}

.light {
  fill: abstracts.get-color("lightShades");
  fill: abstracts.get-color("mainBrand");
  opacity: 1;
}