@use "../styles/abstracts";

.footer {
  width: 100%;
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  display: flex;
  justify-content: flex-end;
  @include abstracts.gradient(abstracts.$darkShades);
  padding: abstracts.$padding;

  p {
    margin: 0;
    color: abstracts.$lightShades;
    text-shadow: 2px 2px 0px darken(abstracts.$lightShades, 60);
    font-size: .618rem;
  }
}