@use "../styles/abstracts";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  @include abstracts.paddingBox;
  color: abstracts.get-color(mainBrand);
  background-color: abstracts.get-color(lightShades, 500);
  @include abstracts.boxShadow;
  z-index: 2;
}

.nav-brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: abstracts.get-color(mainBrand);

  & a {
    text-decoration: none;
  }
}

.logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  color: abstracts.get-color(mainBrand);
  font-size: 1.382rem;
  font-weight: bold;
  text-transform: uppercase;
}

// #region aspect //
.aspect {
  perspective: 400px;
  position: relative;
  z-index: 1;
  margin: 0 calc(abstracts.$margin / 3);
}

.aspect-menu {
  position: absolute;
  left: calc(-1 * abstracts.$padding);
  @include abstracts.boxShadow;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: abstracts.get-color(lightShades);
  border-radius: abstracts.$border-radius;
  transform: rotateX(93deg);
  transform-origin: top;
  transform-style: preserve-3d;

  a {
    display: inline-block;
    @include abstracts.paddingBox;
  }
}

.pointer {
  cursor: pointer;
}

.qualifier-text {
  margin: 0;
  color: abstracts.get-color(darkShades);
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

// #endregion

// #region Nav
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  width: 100%;

  li {
    margin-right: abstracts.$margin;
    color: abstracts.get-color(mainBrand);
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: abstracts.get-color(darkShades);
      background: none;
      cursor: pointer;
    }
  }
}

.active-nav-item {
  color: rgba(abstracts.get-color(mainBrand), abstracts.$small);
}

.show-list-link {
  position: relative;

  & button {
    font-size: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.show-list {
  position: absolute;
  top: 1.618rem;
  right: 0;
  height: 0;
  @include abstracts.boxShadow;
  margin: 0;
  padding: 0;
  color: abstracts.get-color(mainBrand);
  white-space: nowrap;
  background: abstracts.get-color(lightShades);
  border-radius: abstracts.$border-radius;
  overflow: hidden;
  transition: height abstracts.$duration-md ease-in-out;

  & li {
    padding: abstracts.$padding;
    margin: 0;
    border: 1px solid transparent;

    &:hover a {
      color: darken(abstracts.get-color(mainBrand), abstracts.$largePercent);
      cursor: pointer;
    }

    &:first-child {
      padding-bottom: 0;
    }
  }

  & p {
    margin: 0;
    color: lighten(abstracts.get-color(mainBrand), abstracts.$smallPercent);
    font-size: 0.75rem;
    font-weight: bold;
    border-bottom: 0.0618rem solid abstracts.get-color(mainBrand);
  }
}

.roll-down {
  height: 6rem;
}

// #endregion