@import "../styles/base.scss";

.header {
  z-index: 2;
  flex-wrap: wrap;
  align-items: center;
  @include box-shadow;
  @include gradient($lightShades);
  @include paddingBox;
  color: $mainBrand;
}

@media only screen and (min-width: 660px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

.nav-brand {
  display: inline-flex;
  align-items: center;
  width: 20rem;
  color: $mainBrand;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  margin-right: $margin / 3;
  font-size: 1.382rem;
  font-weight: bolder;
  color: $mainBrand;
  text-transform: uppercase;
}

// #region aspect //
.aspect {
  position: relative;
  perspective: 400px;
}

.aspect-menu {
  position: absolute;
  left: -1 * $padding;
  @include box-shadow;
  border-radius: var(--borderRadius);
  @include gradient($lightShades);
  padding: ($padding * $small) $padding;
  transform: rotateX(93deg);
  transform-origin: top;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.qualifier-text {
  font-size: 1rem;
  font-style: italic;
  color: $darkShades;
}
// #endregion

// #region Nav
.nav-list {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;

  li {
    margin-right: $margin;
    color: $mainBrand;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    &:hover {
      background: none;
      color: $darkShades;
      cursor: pointer;
    }
  }
}

.active-nav-item {
  color: rgba($mainBrand, $small);
}

.show-list-link {
  position: relative;

  & button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
  }
}

.show-list {
  position: absolute;
  top: 1.618rem;
  right: 0;
  height: 0;
  white-space: nowrap;
  @include box-shadow;
  border-radius: var(--borderRadius);
  @include gradient($lightShades);
  color: $mainBrand;
  transition: height $duration ease-in-out;
  overflow: hidden;
  & li {
    padding: $padding;
    margin: 0;

    &:hover a {
      cursor: pointer;
      color: darken($mainBrand, $largePercent);
    }

    &:first-child {
      padding-bottom: 0;
    }
  }

  & h4 {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    border-bottom: 0.0618rem solid $mainBrand;
    color: lighten($mainBrand, $smallPercent);
  }
}

.roll-down {
  height: 6rem;
}
// #endregion
