@use "../styles/abstracts";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  @include abstracts.paddingBox;
  @include abstracts.boxShadow;
  background-color: abstracts.color(lightShades, 500);
  color: abstracts.$mainBrand;
  z-index: 2;
}

.nav-brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: abstracts.$mainBrand;

  & a {
    text-decoration: none;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  margin: 0;
  font-size: 1.382rem;
  font-weight: bolder;
  color: abstracts.$mainBrand;
  text-transform: uppercase;
}

// #region aspect //
.aspect {
  position: relative;
  margin: 0 calc(abstracts.$margin / 3);
  perspective: 400px;
}

.aspect-menu {
  position: absolute;
  left: calc(-1 * abstracts.$padding);
  @include abstracts.boxShadow;
  border-radius: abstracts.$border-radius;
  @include abstracts.gradient(abstracts.$lightShades);
  padding: (abstracts.$padding * abstracts.$small) abstracts.$padding;
  transform: rotateX(93deg);
  transform-origin: top;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.qualifier-text {
  font-weight: normal;
  margin: 0;
  font-size: 1rem;
  font-style: italic;
  color: abstracts.$darkShades;
}

// #endregion

// #region Nav
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding: 0;

  li {
    margin-right: abstracts.$margin;
    color: abstracts.$mainBrand;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      background: none;
      color: abstracts.$darkShades;
      cursor: pointer;
    }
  }
}

.active-nav-item {
  color: rgba(abstracts.$mainBrand, abstracts.$small);
}

.show-list-link {
  position: relative;

  & button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
  }
}

.show-list {
  position: absolute;
  top: 1.618rem;
  right: 0;
  height: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  @include abstracts.boxShadow;
  border-radius: abstracts.$border-radius;
  @include abstracts.gradient(abstracts.$lightShades);
  color: abstracts.$mainBrand;
  transition: height abstracts.$duration ease-in-out;
  overflow: hidden;

  & li {
    padding: abstracts.$padding;
    margin: 0;
    border: 1px solid transparent;

    &:hover a {
      cursor: pointer;
      color: darken(abstracts.$mainBrand, abstracts.$largePercent);
    }

    &:first-child {
      padding-bottom: 0;
    }
  }

  & p {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    border-bottom: 0.0618rem solid abstracts.$mainBrand;
    color: lighten(abstracts.$mainBrand, abstracts.$smallPercent);
  }
}

.roll-down {
  height: 6rem;
}

// #endregion