@use "../../../styles/abstracts/" as *;

.paragraph-default {
  color: inherit;
  margin-block: $space-md;
  margin-inline: auto;
  // line-height: ; set in base

}

.sm {
  font-size: $fs-sm-em;
}

.md {
  font-size: $fs-md-em;
}

.lg {
  font-size: $fs-lg-em;
}