@use "../abstracts" as *;
@use './typography';
@use '../layouts';
@use "../config";

/* #region Variables */
:root {
  /* animations */
  --softIn: softIn 0.33s ease-in;
  @include typography.fonts();
}

/* #endregion Variables */

html {
  box-sizing: border-box;
  font-family: config.$body-font-family;
  line-height: config.$line-height;
}

// added in normalize
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  color: get-color("darkShades");
  font-size: calc(15px + 0.390625vw);
  background-color: get-color("lightShades");
  @include scrollbar;
}

button,
input,
optgroup,
select,
textarea {
  line-height: config.$line-height;
}

a:focus,
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline-color: get-color("mainBrand", 200);
  outline-style: solid;
  outline-width: 1px;
  // outline-offset: 3px;
}

*::selection {
  background-color: get-color("darkShades");
  color: get-color("lightShades");
}

img {
  display: block;
  max-width: 100%;
}

cite {
  font-size: 0.618rem;
}

@keyframes softIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}