@use "../abstracts";
@use './typography';
@use '../layouts';

/* #region Variables */
:root {
  /* animations */
  --softIn: softIn 0.33s ease-in;
}

/* #endregion Variables */

html {
  box-sizing: border-box;
  font-size: calc(15px + 0.390625vw);
  line-height: 1.618;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-family: typography.$fontStack;
}

body {
  position: relative;
  background-color: abstracts.get-color(lightShades);
  color: abstracts.get-color(darkShades);
  @include abstracts.scrollbar;
}


a {
  color: abstracts.get-color(mainBrand, 200);
}

ul {
  list-style-type: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

*::selection {
  background-color: abstracts.get-color(darkShades);
  color: abstracts.get-color(lightShades);
}

img {
  display: block;
  max-width: 100%;
}

cite {
  font-size: 0.618rem;
}

@keyframes softIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}