// add mixin to root to make fonts available
@mixin fonts() {
  @font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
  }
}