@use "../../styles/abstracts" as *;

.designLayout {
  background: get-color("lightShades");

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3em;
    border: 1px solid #000;
    color: get-color("mainBrand");

    .designLink {
      display: inline-block;
      color: inherit;
    }
  }

  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-weight: 500;

      a {
        padding-block: 0.5em;
        padding-inline: 1.5em;
        color: inherit;
      }
    }
  }
}